.new-task-container {
  margin-top: 50px;
  background-color: $brown;
  color: #fff;
  padding: 20px;

  @media (max-width: $phone) {
    font-size: 5em;
  }

  .errors {
    position: absolute;
    left: 40%;
    top: 10%;
    background: $brown;
    padding: 20px;
    color: red;
  }

  .new-task {
    text-align: center;

    .field_with_errors {
      display: inline;
      height: inherit;
    }

    input.field_with_errors {
      border: 5px solid red;
    }

    .label, .field, {
      display: inline;
      @media (max-width: $phone) {
        display: block;
        margin: 0;
      }
    }

    #task_due_date {
      @media (max-width: $phone) {
        max-width: 300px;
      }
    }

    .field {
      margin-right: 40px;
      color: $dark-brown;
      padding: 2px 5px 2px 5px;

      .new-task-details {
        height: 40px;
        width: 300px;
      }
    }
    .button {
      font-size: 20px;

      @media (max-width: $phone) {
        font-size: .6em;
      }
    }
  }
}

.tasks {
  color: #fff;
  margin-top: 100px;
  background-color: $brown;
  text-align: center;
  height: 350px;
  overflow-y: auto;
  border-right: 1px solid $dark-brown;

  h3 {
    font-size: 2.5em;
    margin-bottom: 30px;
  }

  .no-tasks {
    font-size: 2em;
  }

  table {
    width: 100%;

    th, td {
      text-align: center;
      width: 30%;
      padding: 3.33%;
      border-bottom: 1px solid $dark-brown;

      .button {
        padding: 5px;
        display: inline;
        position: relative;
        top: 5px;
      }

      .cancel-button {
        float: right;
        margin: 0 -5px 0 10px;
        color: #98584E;
        font-size: 1.5em;

        &:hover {
          color: #986C66;
        }
      }
    }

    .late {
      font-size: 1.5em;

      .urgent {
        color: red;
      }
    }
  }

  .reopen {
    margin-top: 10px;
    font-size: .75em;
  }
}