.new-task-container {
  margin-top: 50px;
  background-color: $brown;
  color: #fff;
  padding: 20px;

  .errors {
    position: absolute;
    left: 40%;
    top: 10%;
    background: $brown;
    padding: 20px;
    color: red;
  }

  .new-task {
    text-align: left;

    div {
      padding: 0;
    }

    .new-task-row {
      @media (max-width: $tablet) {
        margin-bottom: 20px;
      }
    }

    .field, .field_with_errors {
      color: $dark-brown;

      input {
        width: 80%;
        border-radius: 5px;
        border: 1px solid #fff;
        text-align: center;
        height: 40px;
        padding: 10px;


        @media (max-width: $tablet) {
          width: 100%;
        }
      }
    }

    .field_with_errors > input {
      border: 5px solid red;
    }

    .button {
      font-size: 20px;
      width: 40%;
      min-width: 28px;

      @media (max-width: $phone) {
        width: 100%;
      }

      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }
}

.tasks-container {
  margin-top: 100px;
  height: 400px;
  background-color: $brown;
  overflow-y: auto;

  @media (max-width: $tablet) {
    height: 100%;
    background-color: transparent;
  }

  .tasks {
    color: #fff;
    text-align: center;
    border-right: 1px solid $dark-brown;
    border-left: 1px solid $dark-brown;
    height: 100%;

    @media (max-width: $tablet) {
      background-color: $brown;
      overflow-y: auto;
      height: 350px;
      margin-bottom: 100px;
    }

    h3 {
      font-size: 2.5em;
      margin-bottom: 30px;
    }

    .no-tasks {
      font-size: 2em;
      margin-top: 25%;
    }

    table {
      width: 100%;

      th {
        border-bottom: 1px solid $dark-brown;
        border-top: 1px solid $dark-brown;
      }

      th, td {
        text-align: center;
        width: 30%;
        padding: 3.33%;

        .button {
          padding: 5px;
          display: inline;
          position: relative;
          top: 5px;
        }

        .cancel-button, .complete-button {
          font-size: 2.5em;

          &:hover {
            color: #986C66;
          }
        }
        .cancel-button {
          color: #98584E;
          margin-left: 15px;
        }

        .complete-button {
          color: #BFCC9F;
        }
      }

      .late {
        font-size: 1.5em;

        .urgent {
          color: red;
        }
      }
    }

    .reopen {
      font-size: .75em;
    }
  }

}