h1 {
  font-size: 5em;
  color: #fff;
}

.title {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 10px;
  border: 5px solid #fff;
  background: $brown;

  @media (max-width: $phone) {
    font-size: .75em;
  }
}

.login {
  background: $brown;
  padding: 10px 0 35px 0px;
  height: auto;
  margin-top: 50px;
  color: #fff;
  border: 5px solid #fff;

  .errors {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: red;
  }

  .login-row {
    margin-top: 25px;
    padding: 0;

    .label {
      font-size: 2em;
      width: 50%;
      padding: 0;

      @media (max-width: $mid) {
        width: 100%;
      }
    }

    .field {
      float: right;
      position: relative;
      bottom: 5px;
      color: $dark-brown;
      width: 50%;

      @media (max-width: $mid) {
        width: 100%;
      }

      & > input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #fff;
        height: 30px;
      }

      .error {
        color: red;
        font-size: 1.2em;
      }
    }

    p {
      font-size: 2em;

      @media (max-width: $mid) {
        font-size: 1.2em;
      }
    }
    .button {
      width: 100%;
      font-size: 20px;
      color: $dark-brown
    }

    .join-button {
      font-size: 15px;
      width: 80%;
      float: right;
    }
  }
}

.field_with_errors {
  display: inline;
  height: inherit;
  width: 100%;

  input {
    width: 100%;
    border: 5px solid red;
  }
}
