@import "variables";

body {
  width: 100%;
  height: 100%;
  background: $dark-brown;
}

.layer {
  background-color: rgba(37, 18, 4, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flash {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 2em;
  background: #90D6A5;
  padding: 5px;
}