@import "variables";

body {
  width: 100%;
  height: 100%;

  @media (min-width: 379px) {
    background: $brown image-url('splash_background.jpg');
    background-size: cover;
  }

  @media (max-width: $phone) {
    background: $brown image-url('mobile_background.png') no-repeat;
    background-size: 100% auto;
  }
}

.layer {
  background-color: rgba(37, 18, 4, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flash {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 2em;
  background: #90D6A5;
  padding: 5px;
}